.tile{
    width: 20%;
    height: 20%;
    min-width: 200px;
    min-height: 200px;
    max-width: 420px;
    max-height: 420px;

    box-sizing: border-box;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    overflow: hidden;
    display: inline-block;
}

.tile>img{
    height:100%;
}

.tile>h1{
    color:red;
    height:100%;
}
