.error{
    margin-top: 60px;
    min-width: 200px;
    text-align: center;
}

.error .content{
    display: inline-block;
    background-color: rgb(255, 0, 0);
    border-radius: 10px;
    padding: 25px;
}

.error h1{
    padding: 15px;
    background-color: white;
    display: block;
    color: black;
    margin: 0;
    margin-bottom: 50px;
}