.gallery_container{
    height: 100vh;
    width: 100%;
}

.gallery{
    overflow-y: scroll;
    height: calc(100% - 40px);
    width: 100%;
}

.gallery>.content{
    position: relative;
    width: 98%;
    margin: 0 auto;
}

.padding{
    display: block;
}

.day{
    position: absolute;
    box-sizing: border-box;
    width: 100%;
    line-height: 0;
}

.day .header{
    margin: 0px;
    font-size: 2em;
    display: flex;
    justify-content: start;
    align-items: center;
    box-sizing: border-box;
    padding: 10px;
}

.tile{
    display: inline-block;
    box-sizing: border-box;
    overflow: hidden;
    border: 3px rgba(255, 255, 255, 0) solid;
    transition: border 0.1s linear;
    transition: border-radius 0.1s linear;
}

.tile:hover{
    border: 3px #e9b7fb solid;
    border-radius: 20px;
}

.tile .content{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    overflow: hidden;
}

.gallery .text{
    box-sizing: border-box;
    padding: 20px;
    display: flex;
    font-size: 1.5em;
    justify-content: start;
    align-items: center;
}

.tile img{
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
}

.file{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.pop_up_container>.button{
    position: absolute;
    z-index: 3;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    padding: 4px;
    top: 20px;
}

.button img{
    height:100%;
}

.exit{
    left: 20px;
}

.info{
    left: 70px;
}

.del{
    left: 120px;
}

.download{
    left: 170px;
}

.file img{
    max-width: 98%;
    max-height: 98%;
}

.description_container{
    position: absolute;
    top: 70px;
    left: 20px;
    z-index: 2;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.description{
    padding: 10px;
    background-color: #1f1f1f;
    transition: opacity 0.2s;
}
