.gallery{
    overflow-y: scroll;
    top: 50px;
    bottom:0;
    position: absolute;
    left:0; right:0; 
    width:100%;
    box-sizing: content-box;
}

.padding{
    display: block;
}
