body, html{
    margin: 0;
    background-color: #1c1c1c;
    color: #ffffff;
    font-weight: bold;
    height: 100vh;
    font-family: Sans-serif;
}

header{
    background-color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    padding: 5px 0;
    top: 0;
    z-index: 1;
    height: 30px;
}

header .button{
    margin: 0 10px;
}

.button{
    box-sizing: border-box;
    display: inline-block;
    background-color: #ffffff;
    color: #000000;
    text-align: center;
    padding: 5px;
    border-radius: 5px;
    text-decoration: none;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
    transition: color 0.2s;
    transition: border 0.2s;
    transition: background-color 0.2s;

}

.button:hover{
    background-color: #9c9c9c;
}

.window_container{
    text-align: center;
}

.window{
    margin: 0 auto;
    margin-top: 20vh;
    display: inline-block;
    padding: 15px;
    text-align: center;
    background-color: black;
    border-radius: 10px;
}

.window .buttons{
    margin-top: 15px;
}

.window .buttons .button{
    width: 100%;
    display: block;
    margin-top: 5px;
}

.window h1{
    background-color: white;
    color: black;
    padding: 10px;
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
    font-size: 1.5em;
    font-weight: normal;
}
