body, html{
    height:100vh;
    margin: 0;
    padding: 0;
}

header{
    height: 4vh;
    background-color: blue;
    font-size: 3vh;
    padding: 3vh 0;
    text-align: center;
}

#container{
    background-color: aqua;
    height: 90%;
}