body, html{
    margin: 0;
    background-color: #1a1a1a;
    color: white;
    height: 100vh;
}

header{
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    position: sticky;
    top: 0;
    z-index: 1;
}

.button{
    box-sizing: border-box;
    height: 40px;
    display: inline-block;
    margin: 0 10px;
    background-color: rgb(255, 255, 255);
    color: black;
    text-align: center;
    padding: 10px 20px;
    border-radius: 4px;
    text-decoration: none;
    font-size: 1.1em;
}

.button:hover{
    background-color: rgb(215, 202, 255);
}
