body, html{
    margin: 0;
    background-color: #1c1c1c;
    color: #bb92ca;
    font-weight: bold;
    height: 100vh;
    font-family: 'Helvetica';
}

header{
    background-color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    padding: 5px 0;
    top: 0;
    z-index: 1;
    height: 30px;
}

header .button{
    margin: 0 10px;
}

.button{
    box-sizing: border-box;
    display: inline-block;
    background-color: #bb92ca;
    color: #000000;
    text-align: center;
    padding: 5px;
    border-radius: 5px;
    text-decoration: none;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
    transition: color 0.2s;
    transition: border 0.2s;
    transition: background-color 0.2s;
}

.button:hover{
    background-color: #e9b7fb;
}

.window_container{
    display:grid;
    place-items: center;
    width: 100%;
    height: 100%;
}

.pop_up_container{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100vw;
    height: 100vh;
    background-color: #1c1c1cf6;
    z-index: 3;
    display:grid;
    place-items: center;
    overflow: scroll;
}

.pop_up_window{
    display: block;
    margin-bottom: 20vh;
    margin-top: 10vh;
    background-color: rgb(0, 0, 0);
    padding: 20px;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    min-width: 200px;
}

.pop_up_window h1{
    display: block;
    font-size: 24px;
    text-align: center;
    margin: 0px;
    margin-bottom: 20px;
}

.pop_up_window input{
    margin-bottom: 10px;
    display: inline-block;
    text-align: center;
    padding: 2px;
    border: 3px #ffffff solid;
}

.pop_up_window input:focus{
    outline: none;
    border: 3px #e9b7fb solid;
}

.pop_up_window input:invalid{
    background-color: rgb(255, 185, 185);
    border: 3px red solid;
}

.pop_up_window .button{
    margin-bottom: 10px;
    text-align: center;
}

.pop_up_window .button:last-child{
    margin-bottom: 0px;
}

.error{
    color: red;
    margin-bottom: 10px;
}
