body, html{
    margin: 0;
    background-image: url("background.png");
}

header{
    background-color: blue;
    text-align: center;
    padding: 0.3em;
}

header>a{
    display: inline-block;
    margin: 0 30px;
    background-color: burlywood;
    padding: 10px;
}
