
.upload_container{
    text-align: center;

}

.upload input{
    display:none;
}

.upload h1{
    background-color: white;
    color: black;
    padding: 10px;
    border-radius: 10px;
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
}

.upload .options{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.upload{
    display: inline-block;
    padding: 15px;
    background-color: black;
    position: relative;
    margin-top: 50px;
}
