.upload_container{
    background-color: blueviolet;
    text-align: center;
}

.upload{
    margin-top: 5%;
    min-width: 200px;
    min-height: 200px;
    aspect-ratio: 1;
    display: inline-block;
    width:25%;
    padding:10px;
    border-radius: 5px;
    background-color: yellow;
}

.upload_files_over{
    background-color: yellow;
}

.file{
    margin:0.5% 30%;
    background-color: red;
}

.upload .submit{
    margin:1% 30%;
    background-color: aquamarine;
}
